{
  "openapi": "3.0.1",
  "info": {
    "title": "Weather API",
    "description": "Weather API used for geeting the current and Forecast weather info of any place.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://api.weatherstack.com"
    }
  ],
  "paths": {
    "/forecast": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "7f95b600d2de29d03955a92860c0349d"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "India"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; Charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/forecast_response"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "http://api.weatherstack.com"
          }
        ]
      },
      "servers": [
        {
          "url": "http://api.weatherstack.com"
        }
      ]
    },
    "/current": {
      "get": {
        "description": "Auto generated using Swagger Inspector",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "7f95b600d2de29d03955a92860c0349d"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "India"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json; Charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/current_response"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "http://api.weatherstack.com"
          }
        ]
      },
      "servers": [
        {
          "url": "http://api.weatherstack.com"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "request": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "language": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "location": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "lat": {
            "type": "string"
          },
          "lon": {
            "type": "string"
          },
          "timezone_id": {
            "type": "string"
          },
          "localtime": {
            "type": "string"
          },
          "localtime_epoch": {
            "type": "integer",
            "format": "int32"
          },
          "utc_offset": {
            "type": "string"
          }
        }
      },
      "current": {
        "type": "object",
        "properties": {
          "observation_time": {
            "type": "string"
          },
          "temperature": {
            "type": "integer",
            "format": "int32"
          },
          "weather_code": {
            "type": "integer",
            "format": "int32"
          },
          "weather_icons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "weather_descriptions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "wind_speed": {
            "type": "integer",
            "format": "int32"
          },
          "wind_degree": {
            "type": "integer",
            "format": "int32"
          },
          "wind_dir": {
            "type": "string"
          },
          "pressure": {
            "type": "integer",
            "format": "int32"
          },
          "precip": {
            "type": "integer",
            "format": "int32"
          },
          "humidity": {
            "type": "integer",
            "format": "int32"
          },
          "cloudcover": {
            "type": "integer",
            "format": "int32"
          },
          "feelslike": {
            "type": "integer",
            "format": "int32"
          },
          "uv_index": {
            "type": "integer",
            "format": "int32"
          },
          "visibility": {
            "type": "integer",
            "format": "int32"
          },
          "is_day": {
            "type": "string"
          }
        }
      },
      "forecast": {
        "type": "object",
        "properties": {
          "2023-02-15": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date"
              },
              "date_epoch": {
                "type": "integer",
                "format": "int32"
              },
              "astro": {
                "type": "object",
                "properties": {
                  "sunrise": {
                    "type": "string"
                  },
                  "sunset": {
                    "type": "string"
                  },
                  "moonrise": {
                    "type": "string"
                  },
                  "moonset": {
                    "type": "string"
                  },
                  "moon_phase": {
                    "type": "string"
                  },
                  "moon_illumination": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "mintemp": {
                "type": "integer",
                "format": "int32"
              },
              "maxtemp": {
                "type": "integer",
                "format": "int32"
              },
              "avgtemp": {
                "type": "integer",
                "format": "int32"
              },
              "totalsnow": {
                "type": "integer",
                "format": "int32"
              },
              "sunhour": {
                "type": "integer",
                "format": "int32"
              },
              "uv_index": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      },
      "current_response": {
        "type": "object",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/request"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "current": {
            "$ref": "#/components/schemas/current"
          }
        }
      },
      "forecast_response": {
        "type": "object",
        "properties": {
          "request": {
            "$ref": "#/components/schemas/request"
          },
          "location": {
            "$ref": "#/components/schemas/location"
          },
          "current": {
            "$ref": "#/components/schemas/current"
          },
          "forecast": {
            "$ref": "#/components/schemas/forecast"
          }
        }
      }
    }
  }
}